.principal-item:hover .item-img svg {
 fill: #fff;

 transition:all linear 0.4s;
}
.principal-item .item-img svg {
   width: 85px;
 }
.principal-item:hover h2{
    color: #E4701D;
}
.principal-item:hover .item-img {
    background-color: #004E7E;
    border: 2px solid #fff;
    transition:all linear 0.4s;
}
.principal-item h2{
    color: #004E7E;
}

