.principal-item:hover .item-img svg {
  fill: yellow;

  transition: all linear 0.4s;
}
.principal-item .item-img svg {
  width: 85px;
}
.principal-item:hover h2 {
  color: #000;
}
.principal-item:hover .item-img {
  background-color: green;
  border: 2px solid #fff;
  transition: all linear 0.3s;
}
.principal-item h2 {
  color: green;
}
