.principal-item:hover .item-img svg {
  fill: yellow;

  transition: all linear 0.4s;
}

.principal-item .item-img svg {
  width: 85px;
}

.principal-item h2 {
  font-size: 26px;
}

.principal-item p {
  font-size: 18px;
}

.principal-item:hover h2 {
  color: #000;
}

.principal-item:hover .item-img {
  background-color: green;
  border: 2px solid #fff;
  transition: all linear 0.3s;
}

.principal-item h2 {
  color: green;
}

.main-principal {
  position: relative;
}

.main-principal .principale-ul {
  position: absolute;
  top: 350px;
  z-index: 99999;
}

.main-principal .principale-ul .item {
  display: flex;
  justify-content: center;
}


.first-principale h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999;
  font-size: 28px;
  font-weight: 700;
  color: white;
}


.first-principale .principale-content {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: white;
  z-index: 9999;
}

.first-principale .principale-content ul {
  position: absolute;
  top: -20px;
  left: -60px;
}

@media (min-width:320px) and (max-width:576px) {
  .pincipal_img{
    display: none;
  }
  .first-principale {
    display: none;
  }

  .first-principale .principale-content {
    display: none;
  }

  .main-principal .principale-ul {
    top: 0%;
  }

  .main-principal .principale-ul .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main-principal .principale-ul ul .card2 {
    margin-left: 50%;
  }

  .principal-item h2 {
    font-size: 22px;
  }

  .principal-item p {
    font-size: 16px;
  }
}

@media (min-width:577px) and (max-width:768px) {

  .principal-item h2 {
    font-size: 18px;
  }

  .principal-item p {
    font-size: 16px;
  }
  .main-principal .principale-ul {
  position: absolute;
  top: 306px;
  z-index: 99999;
}
}
@media (min-width:779px) and (max-width:1024px){
  
}