
#bg-impact {
  background-image: linear-gradient(to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("../../assets/banner/aaaa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.impact-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.impact-title::before {
  content: '';
  width: 50px;
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50%;
  background: #50cb0e;
}

.impact-title::after {
  content: '';
  width: 50px;
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50%;
  background: #50cb0e;
}
.apexcharts-datalabels{
  display: none !important;
}

@media (min-width:320px) and (max-width: 576px) {
  #bg-overlay {
    background-image: linear-gradient(to left,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
      url("../../assets/banner/child.png");
   
  }
  .impact-title {
    font-size: 18px;
  }

  .impact-title::before {
    width: 30px;
    height: 4px;
  }

  .impact-title::after {
    width: 30px;
    height: 4px;
  }
}