#bg-donate {
  background-image: linear-gradient(
         to left,
         rgba(0, 0, 0, 0.5),
         rgba(0, 0, 0, 0.5)
      ),
      url("https://i.ibb.co/M7p28LX/14.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-repeat: round;
   border-radius: 10px;
}